.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;

  .wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
