.container {
  border: 2px solid #eeeeee;
  margin-bottom: 5px;

  .name {
    background-color: #ffa726;
    font-size: 15px;
    font-weight: 500;
  }

  .header {
    flex-wrap: wrap;
  }
  .rating {
    margin-top: 5px;
  }
}
