.container {
  background-color: #eee;
  font-size: 32px;
  text-align: center;
  padding: 5px;

  .body {
    padding: 5px 20px 20px;
    margin: 10px;
    height: 375px;
  }

  .rate {
    color: #3f51b5;
    font-size: 26px;
  }

  .text {
    font-size: 56px;
  }

  .btn {
    background-color: #3f51b5;
    margin: 10px;

    .icon {
      margin-left: 10px;
    }
  }

  .send {
    font-size: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
  }

  .error {
    color: #f44336;
    text-align: left;
    font-size: 18px;
    padding: 5px;
    height: 20px;
  }
}
