.container {
  .body {
    background-color: #555;

    .brand {
      flex-grow: 1;
      margin-left: 2rem;

      .firstPart {
        color: #ffa726;
      }

      .secondPart {
        color: #6f9fec;
      }
    }
  }
}
