.container {
  color: #202020;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  padding: 10px;

  .link {
    text-decoration: none;
  }

  .body {
    width: 370px;

    .btn {
      text-transform: none;
      color: #5f5f5f;
      font-size: 35px;
      font-weight: 800;
      font-family: 'Times New Roman';
      width: 100%;

      .brand {
        margin-left: 5px;
        display: inline-block;

        .firstPart {
          color: #ffa726;
        }

        .secondPart {
          color: #6f9fec;
        }
      }
    }
    .content {
      background-color: #ffffff;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 3px 1px -2px rgba(0, 0, 0, 0.12);
      margin: 10px;
      padding: 10px;
      width: auto;
    }
  }
}
