.label {
  border-bottom: 2px solid #aaa;
  font-size: 25px;
  margin: 0 10px;
  color: #555;
  padding-bottom: 10px;
}

.field {
  padding-right: 15px;
}

.icon {
  margin-left: 10px;
}

.link {
  font-size: 18px;
  padding: 10px;
  display: inline-block;
}

.error {
  color: #f44336;
  text-align: left;
  font-size: 14px;
  padding: 5px;
  min-height: 20px;
}
